USE [master]
GO
/****** Object:  Database [ClinicaOncologicaPeruana]    Script Date: 25/11/2025 15:04:10 ******/
CREATE DATABASE [ClinicaOncologicaPeruana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaOncologicaPeruana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicaOncologicaPeruana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaOncologicaPeruana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicaOncologicaPeruana_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaOncologicaPeruana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaOncologicaPeruana]
GO
/****** Object:  UserDefinedFunction [dbo].[CitasPorRangoFechas_v2]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================
-- FUNCIÓN MULTIDECLARACIÓN 2
-- Citas en un Rango de Fechas (Versión 2)
-- =====================================
CREATE FUNCTION [dbo].[CitasPorRangoFechas_v2]
(
    @FechaInicio DATE,
    @FechaFin DATE
)
RETURNS @Listado TABLE
(
    Id_Cita INT,
    Fecha DATE,
    Hora TIME,
    Paciente VARCHAR(150),
    Medico VARCHAR(150),
    Estado VARCHAR(50)
)
AS
BEGIN
    INSERT INTO @Listado
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        P.Nombre + ' ' + P.Apellido AS Paciente,
        M.Nombre + ' ' + M.Apellido AS Medico,
        C.Estado
    FROM Cita C
    INNER JOIN Paciente P ON C.Id_Paciente = P.Id_Paciente
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    WHERE C.Fecha BETWEEN @FechaInicio AND @FechaFin
    ORDER BY C.Fecha, C.Hora;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[HistorialCompletoPaciente_v2]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================
-- FUNCIÓN MULTIDECLARACIÓN 1
-- Historial Completo del Paciente (Versión 2)
-- ===========================
CREATE FUNCTION [dbo].[HistorialCompletoPaciente_v2]
(
    @IdPaciente INT
)
RETURNS @Historial TABLE
(
    Id_Cita INT,
    Fecha DATE,
    Hora TIME,
    Motivo VARCHAR(200),
    Estado VARCHAR(50),
    NombreMedico VARCHAR(100)
)
AS
BEGIN
    INSERT INTO @Historial
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado,
        M.Nombre + ' ' + M.Apellido AS NombreMedico
    FROM Cita C
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    WHERE C.Id_Paciente = @IdPaciente;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[HistorialCompletoPaciente2]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HistorialCompletoPaciente2]
(
    @IdPaciente INT
)
RETURNS @Historial TABLE
(
    Id_Cita INT,
    Fecha DATE,
    Hora TIME,
    Estado VARCHAR(20),
    Medico VARCHAR(150),
    Consultorio VARCHAR(50)
)
AS
BEGIN
    INSERT INTO @Historial
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Estado,
        CONCAT(M.Nombre, ' ', M.Apellido) AS Medico,
        CONCAT('Consultorio ', Co.Numero, ' - Piso ', Co.Piso) AS Consultorio
    FROM Cita C
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    INNER JOIN Consultorio Co ON C.Id_Consultorio = Co.Id_Consultorio
    WHERE C.Id_Paciente = @IdPaciente;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[ObtenerCostoCita]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ObtenerCostoCita] (@IdCita INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Costo DECIMAL(10,2);

    SELECT @Costo = Costo_Total
    FROM Cita
    WHERE Id_Cita = @IdCita;

    RETURN @Costo;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[ObtenerEdadPaciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ObtenerEdadPaciente] (@IdPaciente INT)
RETURNS INT
AS
BEGIN
    DECLARE @Edad INT;

    SELECT @Edad = DATEDIFF(YEAR, Fecha_Nacimiento, GETDATE())
    FROM Paciente
    WHERE Id_Paciente = @IdPaciente;

    RETURN @Edad;
END;
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Id_Paciente] [int] NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](120) NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Id_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Paciente_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Paciente_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[Id_Medico] [int] NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](120) NULL,
	[Id_Especialidad] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[Id_Medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Medico_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Medico_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[Id_Cita] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Motivo] [varchar](200) NULL,
	[Estado] [varchar](20) NULL,
	[Duracion] [int] NULL,
	[Costo_Total] [decimal](10, 2) NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Medico] [int] NOT NULL,
	[Id_Consultorio] [int] NOT NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[Id_Cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Cita_Paciente_Medico]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Cita_Paciente_Medico] AS
SELECT 
    c.Id_Cita,
    c.Fecha,
    c.Hora,
    c.Motivo,
    c.Estado,
    c.Costo_Total,
    p.Nombre AS Nombre_Paciente,
    p.Apellido AS Apellido_Paciente,
    m.Nombre AS Nombre_Medico,
    m.Apellido AS Apellido_Medico
FROM Cita c
INNER JOIN Paciente p ON c.Id_Paciente = p.Id_Paciente
INNER JOIN Medico m ON c.Id_Medico = m.Id_Medico;
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[Id_Especialidad] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[Id_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Especialidad_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Medico_Especialidad]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Medico_Especialidad] AS
SELECT 
    m.Id_Medico,
    m.Nombre AS Nombre_Medico,
    m.Apellido AS Apellido_Medico,
    e.Id_Especialidad,
    e.Nombre AS Nombre_Especialidad
FROM Medico m
INNER JOIN Especialidad e
    ON m.Id_Especialidad = e.Id_Especialidad;
GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[Id_Consultorio] [int] NOT NULL,
	[Numero] [varchar](10) NOT NULL,
	[Piso] [varchar](10) NOT NULL,
	[Id_Especialidad] [int] NOT NULL,
 CONSTRAINT [PK_Consultorio] PRIMARY KEY CLUSTERED 
(
	[Id_Consultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Consultorio_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC,
	[Piso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Consultorio_Especialidad]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Consultorio_Especialidad] AS
SELECT 
    c.Id_Consultorio,
    c.Numero,
    c.Piso,
    e.Id_Especialidad,
    e.Nombre AS Nombre_Especialidad
FROM Consultorio c
INNER JOIN Especialidad e
    ON c.Id_Especialidad = e.Id_Especialidad;
GO
/****** Object:  View [dbo].[Vista_Pacientes_CitasProgramadas]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Pacientes_CitasProgramadas] AS
SELECT 
    p.Id_Paciente,
    p.Nombre,
    p.Apellido,
    c.Id_Cita,
    c.Fecha,
    c.Hora,
    c.Motivo
FROM Paciente p
INNER JOIN Cita c
    ON p.Id_Paciente = c.Id_Paciente
WHERE c.Estado = 'Programada';
GO
/****** Object:  UserDefinedFunction [dbo].[CitasProgramadasPorPaciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CitasProgramadasPorPaciente] (@IdPaciente INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Estado,
        M.Nombre AS NombreMedico,
        S.Nombre AS Especialidad
    FROM Cita C
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    INNER JOIN Especialidad S ON M.Id_Especialidad = S.Id_Especialidad
    WHERE C.Id_Paciente = @IdPaciente
      AND C.Estado = 'Programada'
);
GO
/****** Object:  UserDefinedFunction [dbo].[ConsultoriosPorPiso]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConsultoriosPorPiso] (@Piso VARCHAR(10))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        C.Id_Consultorio,
        C.Numero,
        C.Piso,
        E.Nombre AS Especialidad
    FROM Consultorio C
    INNER JOIN Especialidad E ON C.Id_Especialidad = E.Id_Especialidad
    WHERE C.Piso = @Piso
);
GO
/****** Object:  Table [dbo].[AuditoriaCitas]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaCitas](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cita] [int] NULL,
	[CampoModificado] [varchar](50) NULL,
	[ValorAnterior] [varchar](100) NULL,
	[ValorNuevo] [varchar](100) NULL,
	[FechaCambio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaEstadoCita]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaEstadoCita](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cita] [int] NULL,
	[EstadoAnterior] [varchar](50) NULL,
	[EstadoNuevo] [varchar](50) NULL,
	[FechaAuditoria] [datetime] NULL,
	[Usuario] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaPaciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaPaciente](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[Id_Paciente] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[Accion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaCitas] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Cita] ADD  DEFAULT ('Programada') FOR [Estado]
GO
ALTER TABLE [dbo].[Cita] ADD  DEFAULT ((30)) FOR [Duracion]
GO
ALTER TABLE [dbo].[Cita] ADD  DEFAULT ((150.00)) FOR [Costo_Total]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT ('Sin descripción') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ('No especificado') FOR [Direccion]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_1] FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Paciente] ([Id_Paciente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_1]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_2] FOREIGN KEY([Id_Medico])
REFERENCES [dbo].[Medico] ([Id_Medico])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_2]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_3] FOREIGN KEY([Id_Consultorio])
REFERENCES [dbo].[Consultorio] ([Id_Consultorio])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_3]
GO
ALTER TABLE [dbo].[Consultorio]  WITH CHECK ADD  CONSTRAINT [FK_Consultorio] FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([Id_Especialidad])
GO
ALTER TABLE [dbo].[Consultorio] CHECK CONSTRAINT [FK_Consultorio]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico] FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([Id_Especialidad])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [CHK_Cita_Costo] CHECK  (([Costo_Total]>=(0)))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [CHK_Cita_Costo]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [CHK_Cita_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Completada' OR [Estado]='En curso' OR [Estado]='Confirmada' OR [Estado]='Programada'))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [CHK_Cita_Estado]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [CHK_Cita_Fecha] CHECK  (([Fecha]>=CONVERT([date],getdate()) OR ([Estado]='Cancelada' OR [Estado]='Completada')))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [CHK_Cita_Fecha]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [CHK_Duracion] CHECK  (([Duracion]>(0) AND [Duracion]<=(240)))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [CHK_Duracion]
GO
ALTER TABLE [dbo].[Consultorio]  WITH CHECK ADD  CONSTRAINT [CHK_Consultorio_Numero] CHECK  (([Numero] like '[0-9]%'))
GO
ALTER TABLE [dbo].[Consultorio] CHECK CONSTRAINT [CHK_Consultorio_Numero]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [CHK_Paciente_DNI] CHECK  ((len([DNI])=(8)))
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [CHK_Paciente_DNI]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [CHK_Paciente_FechaNacimiento] CHECK  (([Fecha_Nacimiento]<getdate()))
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [CHK_Paciente_FechaNacimiento]
GO
/****** Object:  StoredProcedure [dbo].[BuscarPacientePorDNI]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarPacientePorDNI]
    @DNI VARCHAR(15)
AS
BEGIN
    SELECT *
    FROM Paciente
    WHERE DNI = @DNI;
END;
GO
/****** Object:  StoredProcedure [dbo].[CitasPorDia]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CitasPorDia]
    @Fecha DATE
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Estado,
        P.Nombre AS NombrePaciente,
        M.Nombre AS NombreMedico
    FROM Cita C
    INNER JOIN Paciente P ON C.Id_Paciente = P.Id_Paciente
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    WHERE C.Fecha = @Fecha;
END;
GO
/****** Object:  StoredProcedure [dbo].[CitasPorEspecialidad]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CitasPorEspecialidad]
    @IdEspecialidad INT
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado,
        M.Nombre AS NombreMedico,
        M.Apellido AS ApellidoMedico
    FROM Cita C
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    WHERE M.Id_Especialidad = @IdEspecialidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[CitasPorMedicoEnRango]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CitasPorMedicoEnRango]
    @IdMedico INT,
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado,
        C.Duracion,
        C.Costo_Total,
        P.Nombre AS Nombre_Paciente,
        P.Apellido AS Apellido_Paciente,
        Co.Numero AS Consultorio
    FROM Cita C
    INNER JOIN Paciente P ON C.Id_Paciente = P.Id_Paciente
    INNER JOIN Consultorio Co ON C.Id_Consultorio = Co.Id_Consultorio
    WHERE C.Id_Medico = @IdMedico
      AND C.Fecha BETWEEN @FechaInicio AND @FechaFin
    ORDER BY C.Fecha, C.Hora;
END;
GO
/****** Object:  StoredProcedure [dbo].[ConsultoriosPorEspecialidad]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultoriosPorEspecialidad]
    @IdEspecialidad INT
AS
BEGIN
    SELECT 
        Co.Id_Consultorio,
        Co.Numero,
        Co.Piso,
        E.Nombre
    FROM Consultorio Co
    INNER JOIN Especialidad E 
        ON Co.Id_Especialidad = E.Id_Especialidad
    WHERE Co.Id_Especialidad = @IdEspecialidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[HistorialCompletoPaciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HistorialCompletoPaciente]
    @IdPaciente INT
AS
BEGIN
    SELECT 
        P.Id_Paciente,
        P.Nombre AS NombrePaciente,
        P.Apellido AS ApellidoPaciente,
        P.DNI,
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado,
        C.Costo_Total,
        M.Nombre AS NombreMedico,
        M.Apellido AS ApellidoMedico,
        E.Nombre AS Especialidad,
        Cons.Numero AS Consultorio
    FROM Paciente P
    INNER JOIN Cita C ON P.Id_Paciente = C.Id_Paciente
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    INNER JOIN Especialidad E ON M.Id_Especialidad = E.Id_Especialidad
    INNER JOIN Consultorio Cons ON C.Id_Consultorio = Cons.Id_Consultorio
    WHERE P.Id_Paciente = @IdPaciente
    ORDER BY C.Fecha, C.Hora;
END;
GO
/****** Object:  StoredProcedure [dbo].[InfoCompletaMedico]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InfoCompletaMedico]
    @IdMedico INT
AS
BEGIN
    SELECT 
        M.Id_Medico,
        M.DNI,
        M.Nombre AS NombreMedico,
        M.Apellido AS ApellidoMedico,
        M.Telefono,
        M.Correo,
        E.Nombre AS Especialidad,
        Co.Id_Consultorio,
        Co.Numero AS Consultorio,
        Co.Piso
    FROM Medico M
    INNER JOIN Especialidad E 
        ON M.Id_Especialidad = E.Id_Especialidad
    INNER JOIN Consultorio Co 
        ON Co.Id_Especialidad = E.Id_Especialidad
    WHERE M.Id_Medico = @IdMedico;
END;
GO
/****** Object:  StoredProcedure [dbo].[IngresosPorFecha]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IngresosPorFecha]
    @Fecha DATE
AS
BEGIN
    SELECT 
        @Fecha AS Fecha,
        SUM(Costo_Total) AS IngresosTotales
    FROM Cita
    WHERE Fecha = @Fecha;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarCitasDePaciente]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarCitasDePaciente]
    @IdPaciente INT
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado,
        C.Duracion,
        C.Costo_Total,
        M.Nombre AS Nombre_Medico,
        M.Apellido AS Apellido_Medico,
        Co.Numero AS Consultorio
    FROM Cita C
    INNER JOIN Medico M ON C.Id_Medico = M.Id_Medico
    INNER JOIN Consultorio Co ON C.Id_Consultorio = Co.Id_Consultorio
    WHERE C.Id_Paciente = @IdPaciente;
END;
GO
/****** Object:  StoredProcedure [dbo].[PacientesPorMedico]    Script Date: 25/11/2025 15:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PacientesPorMedico]
    @IdMedico INT
AS
BEGIN
    SELECT 
        P.Id_Paciente,
        P.Nombre AS NombrePaciente,
        P.Apellido AS ApellidoPaciente,
        C.Id_Cita,
        C.Fecha,
        C.Hora,
        C.Motivo,
        C.Estado
    FROM Cita C
    INNER JOIN Paciente P ON C.Id_Paciente = P.Id_Paciente
    WHERE C.Id_Medico = @IdMedico;
END;
GO
USE [master]
GO
